[Desktop Entry]
Encoding=UTF-8
Name=Tux Paint
Type=Application
Exec=tuxpaint
Icon=tuxpaint
Terminal=false
GenericName=Drawing program
#GenericName[af]=
#GenericName[be]=
#GenericName[br]=
#GenericName[ca]=
#GenericName[cs]=
#GenericName[cy]=
#GenericName[da]=
GenericName[de]=Malprogramm
#GenericName[el]=
GenericName[en_gb]=Drawing program
#GenericName[es]=
#GenericName[eu]=
#GenericName[fi]=
#GenericName[fr]=
#GenericName[he]=
#GenericName[hr]=
#GenericName[hu]=
#GenericName[id]=
#GenericName[is]=
GenericName[it]=Programma di disegno
#GenericName[ja]=
GenericName[ko]=그림 프로그램
#GenericName[lt]=
#GenericName[ms]=
GenericName[nb]=Tegneprogram
GenericName[nn]=Teikneprogram
#GenericName[nl]=
#GenericName[pl]=
#GenericName[pt]=
#GenericName[pt_br]=
#GenericName[ro]=
#GenericName[ru]=
#GenericName[sk]=
#GenericName[sl]=
#GenericName[sr]=
GenericName[sv]=Ritprogram
#GenericName[ta]=
#GenericName[tr]=
#GenericName[vi]=
#GenericName[wa]=
#GenericName[zh_cn]=
Comment=A drawing program for children.
#Comment[af]=
#Comment[be]=
#Comment[br]=
Comment[ca]=Un programa de dibuix per a nens petits.
#Comment[cs]=
#Comment[cy]=
#Comment[da]=
Comment[de]=Ein Malprogramm für (kleine) Kinder.
#Comment[el]=
Comment[en_gb]=A drawing program for children.
Comment[es]=Un programa de dibujo para niños chicos.
#Comment[eu]=
Comment[fi]=On piirto-ohjelma pienille lapsille.
Comment[fr]=Est un programme de dessin pour les jeunes enfants.
#Comment[he]=
#Comment[hr]=
Comment[hu]=Rajzprogram gyermekeknek.
Comment[id]=Adalah sebuah program gambar untuk anak-anak.
Comment[is]=Teikniforrit fyrir unga krakka.
Comment[it]=Un programma di disegno per bambini.
Comment[ja]=子供向けお絵描きプログラム
#Comment[ko]=어린이를 위한 그림 프로그램
#Comment[lt]=
#Comment[ms]=
Comment[nb]=Et tegneprogram for de yngste.
Comment[nl]=Een tekenprogramma voor kinderen.
Comment[nn]=Eit teikneprogram for dei yngste.
#Comment[pl]=
Comment[pt]=Um programa de desenho para crianças.
#Comment[pt_br]=
#Comment[ro]=
#Comment[ru]=
#Comment[sk]=
#Comment[sl]=
#Comment[sr]=
Comment[sv]=Ett ritprogram för yngre barn.
#Comment[ta]=
#Comment[tr]=
#Comment[vi]=
#Comment[wa]=
#Comment[zh_cn]=

