[Desktop Entry]
Encoding=UTF-8
Name=Tux Paint
Name[af]=Tux Verf
Name[be]=Малюй разам з Tux!
Name[en_gb]=Tux Paint
Name[es]=Tux Paint
Name[eu]=Tux Paint
Name[fi]=Tux Paint
Name[fr]=Tux Paint
Name[hu]=Tux Paint
Name[id]=Tux Paint
Name[ko]=턱스페인트
Name[nb]=Tux Paint
Name[nl]=TuxPaint
Name[nn]=Tux Paint
Name[pt_pt]=Tux Paint
Name[ru]=Рисуй вместе с Tux!
Name[sl]=Tux Paint
Name[ta]=¼ìŠ ¦ÀÂ¢ýð
Name[wa]=Tux Paint
Name[zh_cn]=Tux Paint
Name[zh_tw]=繪畫
Type=Application
Exec=tuxpaint
Icon=tuxpaint
Terminal=false
GenericName=Drawing program
GenericName[af]=Tekenprogram
GenericName[be]=Праграма для маляваньня
GenericName[br]=Meziant Tresañ
GenericName[cy]=Rhaglen lunio
GenericName[de]=Malprogramm
GenericName[en_gb]=Drawing program
GenericName[es]=Programa de dibujo
GenericName[eu]=Marrazketa programa
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Programme de dessin
GenericName[hu]=Kifestő
GenericName[id]=Program gambar
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=お絵かきプログラム
GenericName[ko]=그림 프로그램
GenericName[nb]=Tegneprogram
GenericName[nl]=Tekenprogramma
GenericName[nn]=Teikneprogram
GenericName[pt_pt]=Programa de desenho
GenericName[ru]=Программа для рисования
GenericName[sl]=Program za slikanje
GenericName[sv]=Ritprogram
GenericName[ta]=Å¨ÃÔõ ¦ºÂÄ¢
GenericName[wa]=Programe di dessinaedje
GenericName[zh_cn]=绘图程序
GenericName[zh_tw]=畫圖程式
Comment=A drawing program for children.
Comment[af]='n Tekenprogram vir kinders.
Comment[be]=Дзіцячая праграма для маляваньня.
Comment[br]=Ur meziant tresañ evit ar vugale.
Comment[ca]=Un programa de dibuix per a nens petits.
Comment[cy]=Rhaglen lunio ar gyfer plant.
Comment[de]=Ein Malprogramm für (kleine) Kinder.
Comment[en_gb]=A drawing program for children.
Comment[es]=Un programa de dibujo para niños.
Comment[eu]=Umeentzako marrazketa programa
Comment[fi]=Piirto-ohjelma pienille lapsille.
Comment[fr]=Un programme de dessin pour les enfants.
Comment[hu]=Kifestő gyermekeknek.
Comment[id]=Adalah sebuah program gambar untuk anak-anak.
Comment[is]=Teikniforrit fyrir krakka.
Comment[it]=Un programma di disegno per bambini.
Comment[ja]=子供向けお絵描きプログラム
Comment[ko]=어린이를 위한 그림 프로그램
Comment[nb]=Et tegneprogram for de yngste.
Comment[nl]=Een tekenprogramma voor kinderen.
Comment[nn]=Eit teikneprogram for dei yngste.
Comment[pt_pt]=Um programa de desenho para crianças.
Comment[ru]=Детская программа для рисования.
Comment[sl]=Otroški program za slikanje.
Comment[sv]=Ett ritprogram för yngre barn.
Comment[ta]=ÌÆó¨¾¸Ùì¸¡É ´Õ Å¨ÃÔõ ¦ºÂÄ¢
Comment[wa]=Programe di dessinaedje po ls efants
Comment[zh_cn]=孩子的绘图程序。
Comment[zh_tw]=一個兒童專用的畫圖程式。
